<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Indiepost CMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/docs.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <script th:src="@{/resources/js/jquery.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/docs.min.js}"></script>
</head>
<body>
<header th:replace="admin/fragments :: header"></header>
    <div class="row">

    </div>
<footer th:replace="admin/fragments :: footer"></footer>
</body>
</html>