<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8" />
    <title>Indiepost CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" th:href="@{/resources/indiepost-react-cms/node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/indiepost-react-cms/node_modules/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/resources/indiepost-react-cms/node_modules/text-spinners/spinners.css}">
    <link rel="stylesheet" th:href="@{/resources/indiepost-react-cms/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/resources/indiepost-react-cms/css/style.css}">
    <link rel="stylesheet" th:href="@{/resources/indiepost-react-webapp/css/new-indiepost.css}">
    <link rel="shortcut icon" th:href="@{/resources/indiepost-react-cms/favicon.png}" type="image/png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <script th:src="@{/resources/indiepost-react-cms/node_modules/tinymce/tinymce.js}"></script>
</head>
<body>
<div id="root">
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    window.CFRF_TOKEN = [[${_csrf.token}]];
    window.CONTEXT_ROOT = /*[[@{/}]]*/ '';
    /*]]>*/
</script>
<script th:src="@{/resources/indiepost-react-cms/dist/app.bundle.js}"></script>
<script th:src="@{/resources/indiepost-react-webapp/js/embeds.js}" async defer="defer"></script>
</body>
</html>