<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8" />
    <title>Indiepost CMS</title>
    <link rel="stylesheet" th:href="@{/resources/node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/node_modules/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/resources/node_modules/text-spinners/spinners.css}">
    <link rel="stylesheet" th:href="@{/resources/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <link rel="stylesheet" th:href="@{/resources/css/new-indiepost.css}">
</head>
<body>
<div id="root">
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    CFRF_TOKEN = [[${_csrf.token}]];
    CONTEXT_ROOT = /*[[@{/}]]*/ '';
    /*]]>*/
</script>
<script th:src="@{/resources/node_modules/tinymce/tinymce.js}"></script>
<script th:src="@{/resources/dist/app.bundle.js}"></script>
</body>
</html>