<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8" />
    <title>Indiepost CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" th:href="@{${cdnUrl} + '/resources/node_modules/bootstrap/dist/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="@{${cdnUrl} + '/resources/node_modules/font-awesome/css/font-awesome.min.css'}">
    <link rel="stylesheet" th:href="@{${cdnUrl} + '/resources/node_modules/text-spinners/spinners.css'}">
    <link rel="stylesheet" th:href="@{${cdnUrl} + '/resources/css/dashboard.css'}">
    <link rel="stylesheet" th:href="@{${cdnUrl} + '/resources/css/cms.css?v=1.2.1'}">
    <link rel="stylesheet" th:href="@{${cdnUrl} + '/resources/css/new-indiepost.css'}">
    <link rel="shortcut icon" th:href="@{${cdnUrl} + '/resources/images/favicon.png'}" type="image/png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
</head>
<body>
<div id="root">
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    window.CONTEXT_ROOT = /*[[@{/}]]*/ '';
    /*]]>*/
</script>
<script th:src="@{${cdnUrl} + '/resources/dist/cms.bundle.js?v=1.2.1'}"></script>
<script th:src="@{${cdnUrl} + '/resources/node_modules/tinymce/tinymce.js'}"></script>
<script th:src="@{https://platform.instagram.com/en_US/embeds.js}" async defer="defer"></script>
</body>
</html>