<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Indiepost CMS > New Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/jquery.fileupload.css}">
    <link rel="stylesheet" th:href="@{/resources/css/jquery.fileupload-ui.css}">
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap-tagsinput.css}">
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap-tagsinput-typeahead.css}">
    <link rel="stylesheet" th:href="@{/resources/css/admin.css}">
</head>
<body>
<header th:replace="admin/fragments :: header"></header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>New Post</h1>
            <form id="newPost">
                <div class="row">
                    <div class="col-md-9 form-group form-group-lg">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Title">
                    </div>
                    <div class="col-md-3 form-group form-group-lg">
                        <label for="publishedAt">Publish At</label>
                        <div class='input-group date'>
                            <input id='publishedAt' type='text' class="form-control" disabled>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group form-group-lg">
                        <label for="categories">Categories</label>
                        <select id="categories" class="form-control">
                            <option selected disabled>Choose Caterory</option>
                            <option th:each="category: ${categories}" th:value="${category.id}"
                                    th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group form-group-lg">
                        <label for="status">Status</label>
                        <select id="status" class="form-control">
                            <option selected disabled>Choose Status</option>
                            <option th:each="status: ${statuses}" th:value="${status.toString()}"
                                    th:text="${status.toString()}">Status
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group form-group-lg">
                        <label for="author">Authored By</label>
                        <select id="author" class="form-control">
                            <option selected disabled>Choose Author</option>
                            <option th:each="author: ${authors}" th:value="${author.id}"
                                    th:text="${author.displayName}">
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group form-group-lg">
                        <label for="editor">Edited By</label>
                        <input id='editor' type='text' class="form-control" th:value="${user.displayName}" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group form-group-lg">
                        <label for="postContent">Content</label>
                        <textarea id="postContent" class="form-control" name="content" id="content" cols="30"
                                  rows="24"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group form-group-lg">
                        <label for="tags">Tags</label>
                        <input type="text" class="form-control" id="tags">
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST"
                          enctype="multipart/form-data">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                        <div class="row fileupload-buttonbar">
                            <div class="col-md-12">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add files...</span>
                                    <input type="file" name="files" multiple>
                                </span>
                                <!--<button type="submit" class="btn btn-primary start">-->
                                <!--<i class="glyphicon glyphicon-upload"></i>-->
                                <!--<span>Start upload</span>-->
                                <!--</button>-->
                                <!--<button type="reset" class="btn btn-warning cancel">-->
                                <!--<i class="glyphicon glyphicon-ban-circle"></i>-->
                                <!--<span>Cancel upload</span>-->
                                <!--</button>-->
                                <!--<button type="button" class="btn btn-danger delete">-->
                                <!--<i class="glyphicon glyphicon-trash"></i>-->
                                <!--<span>Delete</span>-->
                                <!--</button>-->
                                <!--<input type="checkbox" class="toggle">-->
                                <!--&lt;!&ndash; The global file processing state &ndash;&gt;-->
                                <!--<span class="fileupload-process"></span>-->
                            </div>
                            <!-- The global progress state -->
                            <!--<div class="col-md-12 fileupload-progress fade">-->
                            <!--&lt;!&ndash; The global progress bar &ndash;&gt;-->
                            <!--<div class="progress progress-striped active" role="progressbar" aria-valuemin="0"-->
                            <!--aria-valuemax="100">-->
                            <!--<div class="progress-bar progress-bar-success" style="width:0%;"></div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; The extended global progress state &ndash;&gt;-->
                            <!--<div class="progress-extended">&nbsp;</div>-->
                            <!--</div>-->
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <div class="row">
                            <div class="col-md-12 col-sm12 col-xs-12">
                                <ul class="list-group files"></ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row btn-row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-lg">Save</button>
                    <button type="button" class="btn btn-lg">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="admin/fragments :: footer"></footer>
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
<li class="list-group-item template-upload">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-3">
            <span class="preview">&nbsp;</span>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-9"><small>&nbsp;</small></div>
        <div class="col-md-6 col-sm-5 col-xs-3">
            <p class="name"><small>{%=file.name%}</small></p>
            <strong class="error text-danger"></strong>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-3 text-right">
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            <small class="size">Processing...</small>
        </div>
        {% if (!i && !o.options.autoUpload) { %}
        <div class="col-md-2 col-sm-2 col-xs-2">
            <button class="btn btn-primary start" disabled>
                <span class="glyphicon glyphicon-upload"></span>
            </button>
        </div>
        {% } %}
        {% if (!i) { %}
        <div class="col-md-2 col-sm-2 col-xs-3 text-right">
            <button class="btn btn-sm btn-warning cancel">
                <span class="glyphicon glyphicon-ban-circle"></span> 취소
            </button>
        </div>
        {% } %}
    </div>
</li>
{% } %}

</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
<li class="list-group-item template-download fade">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-3">
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img width="120px" height="80px"  class="img-responsive img-rounded" src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-9"><small>&nbsp;</small></div>
        <div class="col-md-6 col-sm-6 col-xs-4">
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}><small>{%=file.url%}</small></a>
                {% } else { %}
                    <span>{%=file.url%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 text-right">
            <small><span class="size">{%=o.formatFileSize(file.size)%}</span></small>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-3 text-right">
            <button class="btn btn-sm btn-danger delete" data-imageId="{%=file.name%}" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </div>
</li>
{% } %}

</script>
<script th:src="@{/resources/js/moment.min.js}"></script>
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/jquery-ui.min.js}"></script>
<script th:src="@{/resources/js/tmpl.min.js}"></script>
<script th:src="@{/resources/js/load-image.all.min.js}"></script>
<script th:src="@{/resources/js/canvas-to-blob.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/jquery.fileupload.js}"></script>
<script th:src="@{/resources/js/jquery.fileupload-ui.js}"></script>
<script th:src="@{/resources/js/jquery.fileupload-process.js}"></script>
<script th:src="@{/resources/js/jquery.fileupload-image.js}"></script>
<script th:src="@{/resources/js/jquery.fileupload-validate.js}"></script>
<script th:src="@{/resources/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/resources/js/bootstrap3-typeahead.min.js}"></script>
<script th:src="@{/resources/js/bootstrap-tagsinput.js}"></script>
<script th:src="@{/resources/tinymce/tinymce.min.js}"></script>
<script>
    $(document).ready(function () {

        $('.date').datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            autoclose: true
        });

        tinymce.init({
            selector: 'textarea',
            skin: 'lightgray',
            toolbar: "code",
            plugins: "image imagetools code paste",
            paste_as_text: true,
            images_upload_url: 'postAcceptor.php',
            images_upload_base_path: '/some/basepath',
            images_upload_credentials: true,
            content_css: '/resources/css/tinymce.css'
        });

//        $.blueimp.fileupload.prototype.processActions.duplicateImage = function (data, options) {
//            if (data.canvas) {
//                data.files.push($.extend(true, {}, data.files[data.index]));
//            }
//            return data;
//        };

        $('#fileupload').fileupload({
            // Uncomment the following to send cross-domain cookies:
            //xhrFields: {withCredentials: true},
            url: '/api/v1/images',
            acceptFileTypes: /(\.|\/)(jpe?g|png|gif)$/i,
            autoUpload: true,
            previewCrop: true,
            previewMinWidth: 120,
            previewMinHeight: 80,
            maxFileSize: 1024 * 1024 * 10,
            disableImageMetaDataSave: true,
            processQueue: [
                {
                    action: 'loadImage',
                    fileTypes: /^image\/(gif|jpeg|png)$/,
                    maxFileSize: 20000000 // 20MB
                },
                {
                    action: 'resizeImage',
                    maxWidth: 1200
                },
                {action: 'saveImage'},
                {
                    action: 'resizeImage',
                    maxWidth: 700
                },
                {action: 'saveImage'},
                {
                    action: 'resizeImage',
                    maxWidth: 400
                },
                {action: 'saveImage'},
                {
                    action: 'resizeImage',
                    maxWidth: 120,
                    maxHeight: 80,
                    crop: true
                },
                {action: 'saveImage'}
            ]
        });

        $('#tags').tagsinput({
            typeahead: {
                source: ['Amsterdam', 'Washington', 'Sydney', 'Beijing', 'Cairo']
            },
            confirmKeys: [13]
        });

//        $('#tags').on('itemAdded', function(event) {
//            var tags = $("#tags").tagsinput('items');
//            var lastIndex = tags.length - 1
//            var tag = tags[lastIndex];
//            tag = tag.replace(/\s/g, '_');
//            tags[lastIndex] = tag;
//        });
    });
</script>
</body>
</html>