<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Indiepost CMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/admin.css}">
    <script th:src="@{/resources/js/jquery.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<header th:replace="admin/fragments :: header"></header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Posts <a class="btn btn-primary btn-md" href="/cms/posts/new">New Post</a></h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Edit</th>
                        <th>Category</th>
                        <th>Author</th>
                        <th>Editor</th>
                        <th>Created<br>Modified</th>
                        <th>Published</th>
                        <th>Comments<br>Likes<br>Bookmarked</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${posts}">
                        <td th:text="${post.id}"></td>
                        <td><a th:href="|/archives/${post.id}|" th:text="${post.title}" target="_blank"></a></td>
                        <td>
                            <a th:href="|/cms/posts/edit/${post.id}|" th:if="${(#authentication.name == post.editor.username) or hasEditRole}"
                                    name="button" class="btn btn-primary btn-sm">Edit
                            </a>
                        </td>
                        <td th:text="${post.category.name}"></td>
                        <td th:text="${post.author.displayName}"></td>
                        <td th:text="${post.editor.displayName}"></td>
                        <td th:utext="|${#calendars.format(post.createdAt, 'yyyy/M/dd HH:mm')}<br>${#calendars.format(post.modifiedAt, 'yyyy/M/dd HH:mm')}|"></td>
                        <td th:utext="|${#calendars.format(post.publishedAt, 'yyyy/M/dd HH:mm')}|"></td>
                        <td th:utext="|${post.commentsCount}<br>${post.likesCount}<br>${post.bookmarkedCount}|"></td>
                        <td th:text="${post.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer th:replace="admin/fragments :: footer"></footer>
</body>
</html>