<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <script th:src="@{/resources/js/jquery.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body>
<header id="indiepost-navbar" class="navbar bs-docs-nav" role="navigation" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Indiepost</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/category/film/">Film</a></li>
                <li><a href="/category/music/">Music</a></li>
                <li><a href="/category/short/">Short</a></li>
                <li><a href="/category/people/">People</a></li>
                <li><a href="/category/venue/">Venue</a></li>
                <li><a href="/category/visual/">Visual</a></li>
                <li><a href="/category/award/">Award</a></li>
                <li><a href="/category/event/">Event</a></li>
                <li><a href="/category/project/">Project</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li th:if="${#authorization.expression('!isAuthenticated()')}">-->
            <!--<a href="/signin" th:href="@{/signin}">Sign in</a>-->
            <!--</li>-->
            <!--<li th:if="${#authorization.expression('isAuthenticated()')}">-->
            <!--<a href="/logout" th:href="@{/logout}">Logout</a>-->
            <!--</li>-->
            <!--</ul>-->
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</header>
<footer class="container" th:fragment="footer">
    <div id="row">
        <p>(주)인디포스트앤미디어 INDIEPOST&MEDIA<br>
        04030) 서울시 마포구 동교로18길 5, 3층 TEL. 02.6326.2475 통신판매업신고번호 : 2016-서울마포-0945<br>
        CopyRight (c) INDIEPOST&MEDIA. All Rights Reserved.</p>
    </div>
</footer>
</body>
</html>