* {
    border-radius: 0 !important;
}

img {
    width: 100%;
}

#home .list-group-item {
    border-bottom: 6px #515151 solid;
    border-top: 6px #515151 solid;
    border-left: 0;
    border-right: 0;
    padding: 10px;
    background-color: black;
}

#home .list-group-item h3 {
    padding: 15px 0 0 0;
    color: white;
}

#home .list-group-item p {
    color: #e4e4e4;
    font-size: 16px;
}

#home {
    background-color: #515151;
}

#indiepost-navbar {
    background-color: black;
    color: white;
}

footer {
    background-color: white;
    color: black;
    padding: 20px;
}

.post-list-title-image {
    max-height: 539px;
    overflow-y: hidden;
}

#home ul.nav > li > a {
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#home .bs-docs-nav .navbar-header .navbar-toggle {
    border-color: black;
}

#home .bs-docs-nav .navbar-toggle .icon-bar {
    background-color: white;
}

#post {
    background-color: black;
    color: white;
    margin-top: 15px;
    margin-top: 15px;
    font-size: 16px;
}

#post hr {
    color: #646464;
    size: 3px;
}