<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
</head>
<body>
<header id="indiepost-navbar" class="navbar bs-docs-nav" name="navigation" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/resources/img/logo-white-sm.png" alt="logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/category/film">Film</a></li>
                <li><a href="/category/music">Music</a></li>
                <li><a href="/category/short">Short</a></li>
                <li><a href="/category/people">People</a></li>
                <li><a href="/category/venue">Venue</a></li>
                <li><a href="/category/visual">Visual</a></li>
                <li><a href="/category/award">Award</a></li>
                <li><a href="/category/event">Event</a></li>
                <li><a href="/category/project">Project</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAuthenticated()" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> <span th:text="${user.displayName}"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li th:if="${hasRoleEditor}"><a href="/cms/posts">CMS</a></li>
                        <li name="separator" class="divider"></li>
                        <li><a th:href="@{/logout}">Logout</a></li>
                    </ul>
                </li>
                <li sec:authorize="isAnonymous()" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Log in
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Sign up</a></li>
                        <li name="separator" class="divider"></li>
                        <li><a th:href="@{/login}">Log in</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</header>
<footer th:fragment="footer">
    <div class="container">
        <div id="row">
            <p>(주)인디포스트앤미디어 INDIEPOST&MEDIA<br>
                04030) 서울시 마포구 동교로18길 5, 3층 TEL. 02.6326.2475 통신판매업신고번호 : 2016-서울마포-0945<br>
                CopyRight (c) INDIEPOST&MEDIA. All Rights Reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>