<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title == null} ? 'Indiepost' : 'Indiepost > ' + ${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/docs.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <script th:src="@{/resources/js/jquery.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/docs.min.js}"></script>
</head>
<body id="home">
<header th:replace="fragments :: header"></header>
<div class="container">
    <div class="row">
        <div class="list-group post-list">
            <a th:each="post : ${posts}" th:href="|/archives/${post.id}|" class="list-group-item post-list-cell">
                <div class="post-list-title-image">
                    <img class="img-responsive" th:src="@{${post.featuredImage}}" th:alt="${post.title}"/>
                </div>
                <h3 class="list-group-item-heading post-list-title" th:text="${post.title}"></h3>
                <p class="list-group-item-text post-list-excerpt" th:text="${post.excerpt}"></p>
            </a>
        </div>
    </div>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>