<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ko">
<head>
    <title th:text="${res.title} ? ${res.title} : 'INDIEPOST 인디포스트'"></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-title" content="INDIEPOST">
    <th:block th:utext="${res.meta}"/>
    <link rel="stylesheet" th:href="@{${cdnUrl} + '/resources/node_modules/bootstrap/dist/css/bootstrap.min.css'}"/>
    <link rel="stylesheet" th:href="@{${cdnUrl} + '/resources/css/style.css?v=1.5.0'}"/>
    <link rel="shortcut icon" th:href="@{${cdnUrl} + '/resources/images/shortcut.ico'}" type="image/x-icon">
    <link rel="apple-touch-icon" th:href="@{${cdnUrl} + '/resources/images/app-icon-180.png'}">
    <link rel="stylesheet" th:href="@{${cdnUrl} + '/resources/fonts/fontello/css/fontello.css'}">
    <th:block th:utext="${res.link}"/>
</head>
<body class="day-theme">
<div id="root" th:utext="${res.markup}">
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    window.__CONTEXT_ROOT__ = /*[[@{/}]]*/ '';
    window.__FETCH_COUNT__ = [[${fetchCount}]];
    window.__PRELOADED_STATE__ = deserialize(/*[[${res.state}]]*/);
    function deserialize(serializedJavascript) {
      return eval('(' + serializedJavascript + ')');
    }
    /*]]>*/
</script>
<script th:src="@{${cdnUrl} + '/resources/dist/client.bundle.js?v=1.5.0'}"></script>
<script th:src="@{https://platform.instagram.com/en_US/embeds.js}" async defer="defer"></script>
</body>
</html>