<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Indiepost</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" th:href="@{/resources/indiepost-react-webapp/node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/indiepost-react-webapp/node_modules/text-spinners/spinners.css}">
    <link rel="stylesheet" th:href="@{/resources/indiepost-react-webapp/css/style.css}">
</head>
<body>
<div id="root" th:utext="${markup}">
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    window.CFRF_TOKEN = [[${_csrf.token}]];
    window.CONTEXT_ROOT = /*[[@{/}]]*/ '';
    window.__PRELOADED_STATE__ = deserialize(/*[[${state}]]*/);
    function deserialize(serializedJavascript) {
      return eval('(' + serializedJavascript + ')');
    }
    /*]]>*/
</script>
<script th:src="@{/resources/indiepost-react-webapp/dist/client.bundle.js}"></script>
</body>
</html>