<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|Indiepost > ${post.category.name} > ${post.title}|"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/docs.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <script th:src="@{/resources/js/jquery.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/docs.min.js}"></script>
</head>
<body id="home">
<header th:replace="fragments :: header"></header>
<div class="container">
    <div id="post" class="row">
        <div class="col-md-12">
            <h1 th:text="${post.title}"></h1>
            <div>Date <span th:text="${#calendars.format(post.publishedAt, 'yyyy/MM/dd')}"></span> | By <span th:text="${post.displayName}"></span></div>
            <hr>
            <div th:utext="${post.content}">
            </div>
        </div>
    </div>
</div>
<header th:replace="fragments :: footer"></header>
</body>
</html>